.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.map-options {
  width: 100%;
  height: 30px;
  background-color: white;
  outline: none;
  background-color: #000000;
  color: #8fdfff;
  font-weight: bold;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.img-id {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2px;
}

.ingame-pic {
  max-width: 290px;
  height: auto;
}